@model ManagerInvoice.Models.Image

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Image</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_ORDER_NO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_ORDER_NO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_ORDER_INT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_ORDER_INT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.A_FILE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.A_FILE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.A_CREATED_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.A_CREATED_DATE)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.A_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
