@model IEnumerable<ManagerInvoice.Models.Image>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.H_ORDER_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.H_ORDER_INT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.A_FILE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.A_CREATED_DATE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.H_ORDER_NO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.H_ORDER_INT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.A_FILE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.A_CREATED_DATE)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.A_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.A_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.A_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
