@model ManagerInvoice.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_ORDER_INT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_ORDER_INT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_SUPP_NO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_SUPP_NO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_SUPP_COM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_SUPP_COM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_SUP_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_SUP_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_STORE_NO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_STORE_NO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_INVOICE_NO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_INVOICE_NO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_INVOICE_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_INVOICE_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_TAX_NO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_TAX_NO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_INV_AMT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_INV_AMT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_SECTOR_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_SECTOR_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_UPDATEBY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_UPDATEBY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_CREATED_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_CREATED_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_UPDATED_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_UPDATED_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_STATUS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_STATUS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_COMMENT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_COMMENT)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.H_ORDER_NO">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
