@model ManagerInvoice.Models.OrderDetail

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_ORDER_NO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_ORDER_NO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_ORDER_INT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_ORDER_INT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_LINE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_LINE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_ART_NO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_ART_NO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_ART_DVT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_ART_DVT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_MMUNT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_MMUNT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_ARTNAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_ARTNAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_QTY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_QTY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_GOLDVAT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_GOLDVAT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_GOLD_PRICE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_GOLD_PRICE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_SUPVAT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_SUPVAT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_SUP_PRICE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_SUP_PRICE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_UPDATEBY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_UPDATEBY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_CREATED_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_CREATED_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_UPDATED_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_UPDATED_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_STATUS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_STATUS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_COMMENT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_COMMENT)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DETAIL_ORDER_NO" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
