@model IEnumerable<ManagerInvoice.Models.OrderDetail>

@{
    ViewData["Title"] = "ListOrder";
}

<h1>Detail Invoice ID: @ViewBag.Order.H_ORDER_INT</h1>
<a asp-action="SendMail" asp-route-id="@ViewBag.Order.H_ORDER_INT">Send Mail</a>
<table class="table">
    <thead>
        <tr>
            <th>
                 H_ORDER_INT
            </th>
            <th>
                 H_SUPP_NO
            </th>
            <th>
                 H_SUPP_COM
            </th>
            <th>
                 H_SUP_NAME
            </th>
            <th>
                 H_STORE_NO
            </th>
            <th>
                 H_INVOICE_NO
            </th>
            <th>
                 H_INVOICE_DATE
            </th>
            <th>
                 H_TAX_NO
            </th>
            <th>
                 H_INV_AMT
            </th>
            <th>
                 H_SECTOR_ID
            </th>
            <th>
                 H_UPDATEBY
            </th>
            <th>
                 H_CREATED_DATE
            </th>
            <th>
                 H_UPDATED_DATE
            </th>
            <th>
                 H_STATUS
            </th>
            <th>
                 H_COMMENT
            </th
          
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    @ViewBag.Order.H_ORDER_INT
                </td>
                <td>
                    @ViewBag.Order.H_SUPP_NO
                </td>
                <td>
                    @ViewBag.Order.H_SUPP_COM
                </td>
                <td>
                    @ViewBag.Order.H_SUP_NAME
                </td>
                <td>
                    @ViewBag.Order.H_STORE_NO
                </td>
                <td>
                    @ViewBag.Order.H_INVOICE_NO
                </td>
                <td>
                    @ViewBag.Order.H_INVOICE_DATE
                </td>
                <td>
                    @ViewBag.Order.H_TAX_NO
                </td>
                <td>
                    @ViewBag.Order.H_INV_AMT
                </td>
                <td>
                    @ViewBag.Order.H_SECTOR_ID
                </td>
                <td>
                    @ViewBag.Order.H_UPDATEBY
                </td>
                <td>
                    @ViewBag.Order.H_CREATED_DATE
                </td>
                <td>
                    @ViewBag.Order.H_UPDATED_DATE
                </td>
                <td>
                    @ViewBag.Order.H_STATUS
                </td>
                <td>
                    @ViewBag.Order.H_COMMENT
                </td
                
            </tr>
        
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.D_ORDER_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.D_ORDER_INT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.D_LINE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.D_ART_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.D_ART_DVT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.D_MMUNT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.D_ARTNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.D_QTY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.D_GOLDVAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.D_GOLD_PRICE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.D_SUPVAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.D_SUP_PRICE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.D_UPDATEBY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.H_CREATED_DATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.H_UPDATED_DATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.D_STATUS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.D_COMMENT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.D_ORDER_NO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.D_ORDER_INT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.D_LINE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.D_ART_NO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.D_ART_DVT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.D_MMUNT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.D_ARTNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.D_QTY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.D_GOLDVAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.D_GOLD_PRICE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.D_SUPVAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.D_SUP_PRICE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.D_UPDATEBY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.H_CREATED_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.H_UPDATED_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.D_STATUS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.D_COMMENT)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DETAIL_ORDER_NO">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.D_ORDER_NO">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
