@model ManagerInvoice.Models.Sector

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sector</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_SECTOR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_SECTOR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EMAIL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UPDATE_BY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UPDATE_BY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CREATED_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CREATED_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UPDATED_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UPDATED_DATE)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.H_SECTOR_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
